:root {
  --very-dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --light-grey: #c8ccd8;
  --very-light-grey: #eeeff4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  font-family: "Spartan", sans-serif;
  padding: 55px 165px;
  padding-bottom: 0px;
  color: var(--dark-grey);
  position: relative;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--very-dark-blue);
  font-size: 56px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.nav-links {
  margin-left: 85px;
  display: flex;
}

.nav-link {
  color: var(--medium-grey);
  font-weight: 700;
  margin-right: 55px;
}

.nav-link-active {
  color: var(--very-dark-blue);
  margin-right: 56px;
  position: relative;
  padding-bottom: 8px;
}

.nav-link-active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  border-bottom: 1px solid var(--very-dark-blue);
}

.nav-link:hover {
  color: var(--very-dark-blue);
}

.decorative-text {
  position: absolute;
  top: 0;
  left: 65px;
}

.hero {
  position: relative;
  height: 720px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.slide {
  position: relative;
  display: none;
}

.hero-text {
  position: absolute;
  color: white;
  z-index: 1;
  top: 175px;
  left: 175px;
  padding-bottom: 0px;
  width: 500px;
}

.hero-title {
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 100%;
  padding-bottom: 14px;
}

.hero-subtitle {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}

.btn-dark {
  background-color: var(--very-dark-blue);
  padding: 25px;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: var(--dark-grey);
}

.btn-dark a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.btn-hero {
  max-width: 250px;
}

.slider-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-left: -80px;
}

.slide-button {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: white;
  z-index: 1;
  color: var(--medium-grey);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.slide-button:hover {
  background-color: var(--very-light-grey);
}

.active {
  background-color: var(--very-dark-blue);
  color: white;
}

.active:hover {
  color: var(--medium-grey);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.welcome {
  margin-top: 95px;
}

.welcome-title {
  font-size: 200px;
  font-weight: 700;
  color: var(--very-light-grey);
  position: relative;
  z-index: 1;
}

.flex-container {
  display: flex;
  margin-top: -50px;
}

.welcome-text {
  margin-left: 150px;
}

.image {
  margin-left: 75px;
  margin-top: -55px;
}

.welcome h2 {
  margin-bottom: 56px;
}

.welcome p {
  line-height: 25px;
  margin-bottom: 30px;
}

.small-team {
  position: relative;
  margin-top: 200px;
  background-image: url("/assets/home/desktop/image-small-team.jpg");
  height: 560px;
}

.small-team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.small-team-text {
  position: relative;
  color: white;
  z-index: 1;
  padding-left: 190px;
  padding-top: 165px;
}

.small-team-title {
  font-size: 56px;
  width: 50%;
  margin-bottom: 25px;
}

.btn-small {
  max-width: 185px;
}

.featured {
  margin-top: 200px;
}

.featured-header {
  display: flex;
  justify-content: space-between;
}

.featured-header h1 {
  font-size: 56px;
  color: var(--very-dark-blue);
}

.btn-featured {
  min-width: 175px;
}

.featured-projects {
  display: flex;
  margin-top: 65px;
}

.project {
  width: 350px;
  height: 560px;
  position: relative;
  cursor: pointer;
}

.project-1 {
  background-image: url("/assets/portfolio/desktop/image-del-sol.jpg");
  margin-right: 30px;
  z-index: 2;
}

.project-2 {
  background-image: url("/assets/portfolio/desktop/image-228b.jpg");
  margin-right: 30px;
}

.project-3 {
  background-image: url("/assets/portfolio/desktop/image-prototype.jpg");
}

.project-4 {
  background-image: url("/assets/portfolio/desktop/image-seraph.jpg");
  margin-right: 30px;
}

.project-5 {
  background-image: url("/assets/portfolio/desktop/image-eebox.jpg");
  margin-right: 30px;
}

.project-6 {
  background-image: url("/assets/portfolio/desktop/image-federal.jpg");
  margin-right: 30px;
}

.project-7 {
  background-image: url("/assets/portfolio/desktop/image-edelweiss.jpg");
  margin-right: 30px;
}

.project-8 {
  background-image: url("/assets/portfolio/desktop/image-netcry.jpg");
  margin-right: 30px;
}

.project-9 {
  background-image: url("/assets/portfolio/desktop/image-hypers.jpg");
  margin-right: 30px;
}

.project-10 {
  background-image: url("/assets/portfolio/desktop/image-sxiv.jpg");
  margin-right: 30px;
}

.project-11 {
  background-image: url("/assets/portfolio/desktop/image-trinity.jpg");
  margin-right: 30px;
}

.project-12 {
  background-image: url("/assets/portfolio/desktop/image-paramour.jpg");
  margin-right: 30px;
}

.number {
  text-align: right;
  color: white;
  font-size: 200px;
  font-weight: 700;
  opacity: 50%;
  padding-top: 32px;
}

.project-info {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
  padding-left: 40px;
  padding-top: 466px;
}

.project-info-home {
  padding-left: 40px;
  padding-top: 215px;
}

.light-text {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  font-size: 15px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.01%,
    rgba(0, 0, 0, 0.499044) 100%
  );
}

.project-overlay:hover {
  background: rgba(255, 255, 255, 0.5);
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 200px;
}

footer {
  background-color: var(--very-light-grey);
  display: flex;
  align-items: center;
  min-width: 90%;
}

.logo-footer {
  background-color: var(--very-dark-blue);
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
  margin-left: 85px;
}

.btn-footer {
  min-width: 250px;
  position: absolute;
  right: 0;
  margin-right: -20px;
}

/* Portfolio Page */

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  margin-top: 56px;
}

/* About Page */

.secondary-hero {
  position: relative;
}

.secondary-hero-title {
  position: absolute;
  top: 15%;
  right: 1%;
  font-size: 200px;
  color: var(--very-light-grey);
  z-index: 1;
}

.secondary-flex-container {
  display: flex;
  align-items: flex-end;
}

.secondary-hero-image {
  font-size: 0;
  line-height: 0;
  position: relative;
}

.secondary-hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.secondary-hero-image:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 182px;
  height: 503px;
  background-color: white;
}

.horizontal-line {
  width: 65px;
  height: 1px;
  background-color: var(--light-grey);
}

.secondary-hero-text {
  padding-bottom: 25px;
}

.about-heritage-text {
  margin-right: 100px;
  height: 568px;
}

.secondary-hero-text h2 {
  margin-top: 75px;
}

.about-heritage-text h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}

.secondary-hero-text p,
.about-heritage-text p {
  font-weight: 500;
  line-height: 25px;
  margin-top: 30px;
}

.about-heritage {
  margin-top: 200px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.leaders {
  margin-top: 200px;
}

.leaders-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leaders-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 65px;
}

.leader-info {
  margin-top: 24px;
}

.leader-name {
  color: var(--very-dark-blue);
  font-size: 18px;
  font-weight: 700;
}

.leader-title {
  color: var(--very-dark-blue);
  font-size: 15px;
  opacity: 75%;
  padding-top: 4px;
}

.leader-image {
  position: relative;
}

.leader-image img {
  width: 100%;
  vertical-align: top;
}

.leader-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.leader-image:hover:after {
  opacity: 1;
}

.leader-image:hover .social-icon {
  opacity: 1;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

.social-icon {
  height: 40px;
  width: 40px;
  padding-left: 32px;
  opacity: 0;
  transition: all 1s;
}

/* Contact Page */

.contact-details {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-details h2 {
  margin-top: 75px;
}

.contact-info-container {
  margin-top: 140px;
}

.office {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 15px;
}

.contact-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
}

.map-link {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.map-link a {
  color: var(--very-dark-blue);
  font-weight: 700;
  cursor: pointer;
}

.map-link a:hover {
  text-decoration: underline;
}

.map-link img {
  margin-left: 24px;
}

.map {
  margin-top: 200px;
}

#map {
  margin-top: 200px;
  height: 560px;
}

.form-container {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}

form {
  min-width: 730px;
}

.form-group {
  position: relative;
  line-height: 0;
}

.input-field {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--very-dark-blue);
  min-height: 50px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 24px;
  outline: none;
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.input-field-focus {
  border-bottom: 3px solid var(--very-dark-blue);
}

textarea {
  resize: none;
}

::placeholder {
  color: var(--light-grey);
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.error-message {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  font-weight: 700;
  color: #df5656;
  padding-bottom: 15px;
  display: none;
}

.btn-submit {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  outline: none;
  border: none;
}

.border-error {
  border-bottom: 1px solid rgba(223, 86, 86, 0.5);
}

.placeholder-normal::-webkit-input-placeholder {
  color: var(--light-grey);
}

.placeholder-error::-webkit-input-placeholder {
  color: #df5656;
  opacity: 50%;
}

.none {
  display: none;
}

.block {
  display: block;
}
